:root {
    --main-color: #ffdada;
    --text-color: #222831;
    --button-color: #9DDFD3;
}

.logo {
    color: var(--text-color);
    padding: 0 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}
.nav-wrapper {
    background-color: var(--main-color);
}
    
.navText {
    color: var(--text-color);
    margin: 0 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}


#hamburgerMenu {
    color: var(--text-color);
}

.mainFontCard {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    padding: auto;
    margin: auto;
    background-color: var(--main-color);
}

.fontCardContainer  {
    height: 85vh;
}

.centerContainer {
    justify-content: center;
    align-items: center;
}

.insideCard {
    padding: 2rem;
    color: var(--text-color);
    font-size: 1.5rem;
    width: 100%;
}

.cardButtons {
    background-color: var(--button-color);
    color: var(--text-color);
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}

#favorite-btn {
    background-color: var(--button-color);
}

#favorite-wrapper {
    margin-top: 50px;
}

/* Favorite Page Style */

.fontCardContainerFavorite  { 
    justify-content: center;
    align-items: center;

}
.mainFontCardFavorite {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .waves-effect { */
    /* margin: 15px;
    padding: 10px;
    border: solid black;
    font-size: 18px;
} */


/* ABOUT US PAGE */
#aboutPagePicture {
    background-image: url(../pinkperson.jpg);
    width: 100%;
    height: 70vh;
    background-position: bottom;
    background-size: 65%;
    background-repeat: no-repeat;
    z-index: -1;
    margin: 1rem 0;
}

.aboutPic {
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1vw;
    width: 45%;
    align-items: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}


.aboutContainer {
    width: 100vw;
}

.aboutContent {
    margin: 1rem 0;
    text-transform: uppercase;
}
strong {
    font-weight: 900;
}
 

.resizable {
    font-size: 15px;

}

.draggable :hover {
 cursor: pointer;
}


.resizable {
    font-size: 15px;

}

.draggable :hover {
 cursor: pointer;
}

.draggable-font {
    z-index: 3;
}

@media only screen and (max-width: 1346px) {
    .navText { 
        display: none;
    }
    .sidenav-trigger {
        display:block !important;; 
    }
}

.column {
    margin: 10px;
    font-size: 1.5rem;
}