:root {
    --main-color: #ffdada;
    --text-color: #222831;
    --button-color: #9DDFD3;
}

.logo {
    color: var(--text-color);
    padding: 0 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}
.nav-wrapper {
    background-color: var(--main-color);
}
    
.navText {
    color: var(--text-color);
    margin: 0 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

#hamburgerMenu {
    color: var(--text-color);
}

.mainFontCard {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 60%;
    padding: auto;
    margin: auto;
    background-color: var(--main-color);
}

.fontCardContainer  {
    height: 85vh;
}

.centerContainer {
    justify-content: center;
    align-items: center;
}


.insideCard {
    padding: 2rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.cardButtons {
    background-color: var(--button-color);
    color: var(--text-color);
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}

#favorite-btn {
    background-color: var(--button-color);
}

/* Favorite Page Style */

.fontCardContainerFavorite  { 
    justify-content: center;
    align-items: center;

}
.mainFontCardFavorite {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

